.collapsible {
    color: #383636;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}


.toggle { 
    background-color: #E9E6D9;
    color: #383636;
    border: none;
    cursor: pointer;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 10px;
    margin: 0.5rem;
    font-size: large;
    font-weight: bold;
}

.collapsible .notes-content {
   color: #383636;
   margin: 0.2rem;
}


.recipe-details-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.recipe-attribute{
    margin:10px;
    background-color: #E9E6D9;
    color: #383636;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 10px;
    margin: 0.5rem;
    font-size: large;
    font-weight: lighter;
}