nav {
    background-color: #5847E6;
    color: #E9E6D9;
    width: 100%;
    height: 7vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-right:1vw;
}

.page-title {
    color: #E9E6D9;
    text-decoration: none;
    font-size: 4.5vw;
    margin-left:1vw;

}
.page-title:link { text-decoration: none; }

.page-title:visited { text-decoration: none; }

.page-title:hover {
    color: #ffb300;
 }


.page-title:active { text-decoration: none; }


.dot {
    border-radius: 50%;
    height:5.5vw;
    margin: 4px;
    
  }

.nav-dot-wrapper{
    width: 17vw;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-right: 2vw;
}

.dot:hover{
    border:solid 3px #4DC9C1;
}

  
@media screen and (max-width: 40em) {
    nav {
      height: 70px;
      justify-content: space-around;
    }
    .page-title {
        text-decoration: none;
        font-size: 40px;
    }
    .dot {
        border-radius: 50%;
        height: 30px;
      }

  }